<div class="Container">
 <h1>Craigslist JR | New Users</h1>

 <form action="/new_user" method="post">
  <br>
  <input type="text" placeholder="First Name" name="user_input[first_name]"><br>
  <input type="text" placeholder="Last Name"name="user_input[last_name]"><br>
  <input type="text" placeholder="Email"name="user_input[email]"><br>
  <input type="submit" value="Submit">
</form>

</div>

